# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environments
venv/
venv311/
.env

# VS Code
.vscode/

# PyCharm
.idea/

# Python cache
.pytest_cache/
.mypy_cache/

# Build
build/
dist/

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# Blender temp
*.blend1

# Compiled shaders
*.glsl.cache

# Qt
*.qmlc

# Temporary
temp/
tmp/